<main class="center">
    <mat-card class="login-card">
        <mat-card-content class="content-container">
            <section class="recover-container">
                <div class="back-button">
                    <button mat-icon-button routerLink="/login">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </div>
                <section class="test">
                    <section class="message-container">
                        <h1>Recuperar contrasena</h1>
                        <p>
                            Por favor, proporcione su correo electrónico para enviarle un código 
                            de confirmación y permitirle cambiar su contraseña.
                        </p>
                    </section>
                    <form [formGroup]="recoverForm">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Ingrese el correo electronico</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="emailValidation()">{{errorMessage}}</mat-error>
                        </mat-form-field>
                    </form>
                    <div class="recover-actions">
                        <button mat-raised-button class="send-button" (click)="onSubmit()">
                            <mat-icon class="send-icon">send</mat-icon>Enviar
                        </button>
                    </div>
                </section>
            </section>
            <section class="logo-container">
                <img src="../../assets/img/logoLogin.png" alt="logo" width="150" height="150">
                <h1>DocuSite</h1>
               </section>
        </mat-card-content>
    </mat-card>
</main>
